In [1]:
import sklearn
from convert_data import get_data

In [2]:
data = get_data("./data")
data

           x     y     z  label
0       2082  2165  1702      1
1       2077  2160  1703      1
2       2082  2168  1704      1
3       2083  2159  1703      1
4       2085  2162  1706      1
...      ...   ...   ...    ...
116096  1880  2368  1938      7
116097  1882  2368  1937      7
116098  1884  2367  1931      7
116099  1882  2370  1942      7
116100  1880  2366  1942      0

[1926896 rows x 4 columns]

In [3]:
from sklearn.model_selection import train_test_split
train, test, train_labels, test_labels = train_test_split(data.loc[:,'x':'z'], data.loc[:,'label'], test_size = 0.5, random_state = 445672)

In [4]:
from sklearn.naive_bayes import GaussianNB

gnb = GaussianNB()

model = gnb.fit(train, train_labels)

preds = gnb.predict(test)

In [6]:
from sklearn.metrics import accuracy_score
print(accuracy_score(test_labels, preds))

0.4327758218398917